<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSS Feed Aggregator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>RSS Feed Aggregator</h1>
    </header>
    <main>
      <!-- Content from other templates will be inserted here -->
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; 2024 RSS Feed Aggregator</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
